@import './styles/chatbox.css';
@import './styles/responsive.css';
@import './styles/footer.css';
@import './styles/home.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 1em;
  box-sizing: border-box;

}

*::selection{
  background-color : #66D97A;
  color : white; 
}

html, body {
  height: 100%;
  width:100%;
  margin:0; 
  padding: 0;
  overflow-x: hidden;

}

body {
  background-color: #1E1E1E;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: url('../public/cursor_plume.svg') 0 32, auto; /*Curseur plume avec point chaud en bas à gauche*/


}

mark{
  background: none;
  font-weight:800;
}

main {
  flex-grow: 1;
}

